
body {
    margin: 0;
    font-family: "Inter";  
  }
  

header, footer {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding: 1em 0 1em 0;
    
}

footer > span{
    font-size: 0.6rem;
}

main{
    margin-bottom: 2em;
    border: solid grey
}

.container{
    padding: 2em;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    min-height: 90vh;
    background-color: #f7f5fa;
}